#contant{
    width: 80%;
    height: 90%;
    margin: auto;
}

#left{
    width: 50%;
    height: 99%;
    float: left;
}

#right{
    margin-left: 50%;
    height: 99%;

}

.homelink{
    margin-left: 9%;
}

.section{
    margin: 7.5%;

}
